@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
body
{
    background-color: yellow;
    width: fit-content;
}
/* heading */
.heading
{
    color: yellow;
    background-color:purple;
    font-size: 40px; /* absolute unit */
    line-height: 7pc; /* absolute unit */
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 400px;
    margin-left: 400px;
    display: inline-block;
    font-family: 'Silkscreen', cursive;
}

/* fix margin issue */
.heading h1
{
    margin: auto;
    text-align: center;
}

/* all h2 tags */
h2
{
    color: rgb(49, 219, 219);
    background-color:blueviolet;
    font-size: 2.5em; /* relative unit */
    display: block;
    text-decoration: underline;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* descendant combinator */
li h3
{
    color:rgb(9, 255, 0);
}

/* all h3 tags */
h3
{
    color: #4e2fc0;
    font-size: 1.2rem; /* relative unit */
}

/* selector list */
h2, h3
{
    font-family: 'Silkscreen', cursive;
}

/* child combinator */
section > details
{
    color: rgb(167, 7, 100);
}

/* adjacent sibling */
section + h2
{
    background-color: yellow;
}

/* general sibling */
ul ~ li
{
    background-color: purple;
}

/* combining two selectors */
h3.box
{
    color: white;
}

/* all summary tags */
summary
{
    color: hsl(284, 100%, 50%);
    font-size: 3ch; /* relative unit */
}

/* all list tags */
li
{
    font-size: 15pt; /*absolute unit */
}

/* fix video margin issues */
video
{
    margin: -120px 50px 10px 0px;
    display: block;
    margin: -120px auto;
    margin-bottom: 50px;
}

/* fixed padding for title */
.brainstorm
{
    padding: 25px 0px 0px 0px;
}

/* fixed title margin issues */
.brainstorm h2
{
    margin: 0 auto;
}

/* fixed image padding */
img
{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 20px;
}

/* created a border box */
.box
{
    border-style: solid;
    border-color:rgb(109, 36, 226);
    border-radius: 1px;
    padding: 10px 10px 10px 10px;
    border-width: 6px;
    background-color: rgb(92, 216, 185);
}

/* below alters certain elements that use the border box */
.box li
{
    list-style-position: inside;
}

footer .box
{
    width: fit-content;
}

#topic .box
{
    width: fit-content;
}

#attendance .box 
{
    width: fit-content;
}

#agenda .box
{
    width: fit-content;
}

#new .box
{
    width: fit-content;
}

#comments .box
{
    width: fit-content;
}

/* fixing form */
form
{
    height: fit-content;
    max-width: 1900px;
    min-width: 400px;
    position: relative;
    text-align: center;
}

details
{
    position: static;
}

/* adding hover effect */
li:hover
{
    background-color: red;
    width: fit-content;
}

/* adding active link effect */
li:active
{
    color: rgb(9, 255, 0);
}

footer a:active
{
    color: rgb(9, 255, 0);
}

/* flex display with 3 children */
.flex-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-basis: auto;
    margin-bottom: -200px;
}

.flex1
{
    width: 30%;
    height: 101vh;
    text-align: center;
}

.flex2
{
    width: 30%;
    height: 101vh;
    text-align: center;
}

.flex3
{
    width: 30%;
    height: 101vh;
    text-align: center;
}

/* grid display with 3 children */
.grid-container
{
    display: grid;
    column-gap: 20px;
    grid-template-columns: auto;
    justify-items: center;
}

.grid1
{
    grid-column-start: 1;
}

.grid2
{
    grid-column-start: 2;
}

.grid3
{
    grid-column-start: 3;
}

/* fixing footer */
footer
{
    display: flex;
    justify-content: center;
    align-items: center;
}

audio
{
    display: block;
    margin: 0 auto;
}

ul
{
    display: block;
    margin: 0 auto;
}

ol
{
    display: block;
    margin: 30px auto;
}

/* universal */
footer *
{
    color: green;
}

img[alt~="#"]
{
    border: 5px solid red;
}

/* Responsive query for phones like iPhone SE */
@media screen and (max-width: 400px)
{    
    .heading
    {
        margin: 0;
        font-size: 10.4px;
    }
    h3
    {
        font-size: 13px;
    }
    h2
    {
        font-size: 28px;
        margin-left: 5px;
    }
    .brainstorm h2
    {
        margin-left: 5px;
        font-size: 15px;
    }
    #comments h2
    {
        font-size: 15px;
    }
    #pictures h2
    {
        font-size: 14.5px;
    }
    ul
    {
        margin-left: 5px;
    }
    ol
    {
        margin-left: 5px;
    }
    form
    {
        text-align: left;
    }
    #form .box
    {
        width: 20%;
    }
    #agenda .box
    {
        width: 32%;
    }
    #unfinished .box
    {
        width: 32%;
    }
    #new .box
    {
        width: 32%;
    }
    #comments .box
    {
         width: 32%;
    }
    #videoaudio h2
    {
        font-size: 16.5px;
    }
    #videoaudio audio
    {
        margin: 0;
    }
    footer
    {
        display: flex;
        justify-content: left;
        align-items: left;
    }
    .grid-container
    {
        justify-items:left;
    }
    .grid-container img
    {
        width: 33%;
    }
    .flex-container
    {
        flex-direction: column;
        padding-bottom: 250px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .flex-container img
    {
        width: 110%;
        margin-bottom: 30px;
    }
    .flex1
    {
        width: 30%;
        height: 101vh;
        text-align: center;
        margin-bottom: 80px;
    }

    .flex2
    {
        width: 30%;
        height: 101vh;
        text-align: center;
        margin-bottom: 80px;
    }

    .flex3
    {
        width: 30%;
        height: 101vh;
        text-align: center;
        margin-bottom: 30px;
    }
    .grid-container
    {
        display: grid;
        row-gap: 20px;
        grid-template-rows: auto;    
    }
    .grid1
    {
        grid-row-start: 1;
    }

    .grid2
    {
        grid-column-start: 1;
    }

    .grid3
    {
        grid-column-start: 1;
    }
}